.site-brand-container {
  padding-left:0px;
  padding-right:0px;
  background: #FFF0;
}
.site-meta {
  padding: 20px 0;
  padding-top: 35px;
  background: #FFF0;
  background-image: url(/images/pngegg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top left;
  background-size: 30% 9%
}
.brand {
  color: #5f5d5d;
  text-shadow:4px 4px #fff, 8px 8px 3px #81f0cb;
  -webkit-text-stroke-color: #5f5d5d;
  -webkit-text-stroke-width: 1px;
}
.site-subtitle {
  color: #3b3a3a;
}
