.site-brand-container {
  padding-left:0px;
  padding-right:0px;
  background: linear-gradient(to right, #00ffffcf, #fbfbfb)
}
.site-meta {
  padding: 20px 0;
  padding-top: 35px;
  background: #FFF0;
}
.brand {
  color: #332e2e
  text-shadow:4px 4px #c88463, 8px 8px 3px #8b2fd7;
  -webkit-text-stroke-color: #5f5d5d;
  -webkit-text-stroke-width: 1px;
}
.site-subtitle {
  color: #3b3a3a;
}
